@import "tailwindcss";

:root {
  --background: #101a17;
  --foreground: #ededed;
  --primary-dark: #17594a;
  --primary: #0a3d2c;
  --accent-green: #00ff9d;
  --accent-yellow: #ffe066;
  --accent-gold: #d4b03a;
  --accent-dark: #11332d;
  --font-lexend: 'Lexend', Arial, sans-serif;
  --font-eb-garamond: 'EB Garamond', serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-dark: var(--primary-dark);
  --color-primary: var(--primary);
  --color-accent-green: var(--accent-green);
  --color-accent-yellow: var(--accent-yellow);
  --color-accent-gold: var(--accent-gold);
  --color-accent-dark: var(--accent-dark);
  --font-sans: var(--font-lexend);
  --font-serif: var(--font-eb-garamond);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
